* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-main: #ff6900;
    --color-white: #fff;
    --color-dark: #1a1a1a;
    --color-red: #ff0000;
    --color-green: #008000;
}



/* #region Generics*/

.container {
    margin: auto;
    width: 80%;

}

.d-flex {
    display: flex;
}

nav {
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

li {
    padding-left: 0.5rem;
}

a {
    text-decoration: none;
    color: var(--color-white);
}


/* #endregion Generics*/


header {
    background-color: var(--color-main);
    color: var(--color-white);
    justify-content: center;
    padding: 1rem 0;

    img {
        height: 2rem;
    }

}

/* /header */

main {

    img {
        height: 515px;
    }

    .card {
        margin-top: 3rem;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    .price {
        color: var(--color-red);
    }

    .old-price {
        text-decoration: line-through;
    }

}

/* /main*/

footer {
    background-color: var(--color-dark);

    padding-top: 2rem;

    h4 {
        color: var(--color-white);
    }
}