* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-main: #ff6900;
    --color-white: #fff;
    --color-dark: #1a1a1a;
    --color-red: #ff0000;
    --color-green: #008000;
}


/* #region Generics*/

.container {
    margin: auto;
    width: 80%;

}

.d-flex {
    display: flex;
}

nav {
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

li {
    padding-right: 0.5rem;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

.relative {
    position: relative;
}

.heart {
    background-color: var(--color-white);
    font-size: 1.5rem;
    height: 50px;
    width: 50px;
    color: var(--color-dark);
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 1rem;
    right: 0;
}

.sold {
    background-color: var(--color-red);
    color: var(--color-white);
    padding: 5px 7px;
    font-size: 0.9rem;
    position: absolute;
    top: 80%;
}

.green-tag {
    background-color: var(--color-green); 
    color: var(--color-white);
    padding: 5px 8px;
    font-size: 0.9rem;
    position: absolute;
    top: 80%;
}


.green-tag-rigth{
    left: 55px;
}

/* #endregion Generics*/


header {
    background-color: var(--color-main);
    color: var(--color-white);
    justify-content: center;
    padding: 1rem 0;

    img {
        height: 2rem;
    }

    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;

}

/* /header */

main {

    img {
        height: 565px;
    }

    .card {
        margin-top: 3rem;
        justify-content: space-between;
        margin-bottom: 3rem;
    }

    .price {
        color: var(--color-red);
    }

    .old-price {
        text-decoration: line-through;
    }

}

/* /main*/

footer {
    background-color: var(--color-dark);

    padding-top: 2rem;

    h4 {
        color: var(--color-white);
    }

    a {
        font-size: 0.8rem;
    }

    padding-bottom: 2rem;
}

/* /footer*/